fastapi
uvicorn[standard]
python-multipart

sqlalchemy
psycopg2-binary
python-dotenv
email-validator

opencv-python
ultralytics

pytesseract
Pillow

pytest
httpx

youtube-transcript-api
yt-dlp

requests